/* ========== Global ========== */

html {
  font-size: 18px;
  font-family: Helvetica;
}

.container {
  margin: 0 auto;
  width: 960px;
}
/*
@media only screen and (min-width: 961px) {
  .container {
    width: 960px;
  }
}
*/
@media only screen and (max-width: 960px) {
  .container {
    width: 100%;
  }
}

/* ========== Site Header ========== */

#headsection > header {
  background-color: black;
  color: white;
}

#headsection > header > .container {
  display: flex;
  align-items: center;
}

#headtitle {
  font-size: 1rem;
  margin: 0.66rem 0;
}

#headlogo > img {
  height: 1.5rem;
  margin: 0 1rem 0 0.5rem;
}

@media only screen and (max-width: 1024px) {
  #headtitle {
    font-size: 0.9rem;
  }
}

/* ========== Highlight ========== */

.highlight {
  height: 25rem;
}

.highlight.bicycle {
  background-image: url("images/moto.jpeg");
  background-size: cover;
}

.highlight > .container {
  display: flex;
}

.highlight .description {
  background-color: black;
  color: white;
  padding: 2rem 3rem;
  width: 20rem;
  margin-top: 9rem;
}

.highlight .description > h1 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.highlight .description > h2 {
  font-size: 2rem;
  font-weight: bold;
}

/* ========== Menu ========== */

#navmenu {
  background-color: firebrick;
  color: white;
}

#navmenu ul {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

#navmenu .min {
  display: none;
}

#navmenu .min > ul {
  justify-content: center;
}

#navmenu ul > li {
  margin: 0.75rem 0;
}
/*
@media only screen and (min-width: 961px) {
  #navmenu .full {
    display: block;
  }
  #navmenu .min {
    display: none;
  }
}
*/
@media only screen and (max-width: 1024px) {
  #navmenu .full {
    display: none;
  }
  #navmenu .min {
    display: block;
  }
}

/* ========== Main section ========== */

main .row.container {
  display: flex;
  justify-content: space-between;
}

/* ========== Main section - products ========== */

#products {
  margin: 3rem auto;
}

#products .product {
  background-color: black;
  color: white;
  width: 30%;
  border: 4px solid black;
}

#products .product > .productimg {
  background-color: white;
  padding: 2rem 0;
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#products .product > .productimg > img {
  max-height: 9rem;
  max-width: 50%;
}

#products .product > .productdesc {
  margin: 0.5rem 0;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  #products .product {
    width: 47%;
  }

  #glasses {
    display: none;
  }
}

/* ========== Main section - Location and hours ========== */

#contactinfo {
  margin: 3rem auto 4rem;
}

#contactinfo .column {
  width: 35%;
}

#contactinfo .colheader {
  background-color: black;
  color: white;
  width: 100%;
  margin-bottom: 0.5rem;
}

#contactinfo .colheader > h3 {
  padding: 1rem 2rem;
}

/* ========== Footer ========== */

#mainfooter {
  background-color: black;
  color: white;
  display: flex;
  height: 5rem;
  align-items: center;
}

/* ========== Media query - tablet ========== */

/* ========== Media query - mobile ========== */

@media only screen and (max-width: 470px) {
  #headsection header > .container {
    justify-content: center;
    align-items: center;
    height: 50px;
  }
  #headtitle {
    display: none;
  }
  .highlight .description {
    padding: 1rem 2rem;
    margin-top: 10rem;
    width: 100%;
  }
  .highlight .description > h1 {
    font-size: 0.77rem;
  }
  .highlight .description > h2 {
    font-size: 1rem;
  }
  .highlight {
    height: 15rem;
  }
  #products {
    justify-content: center;
  }
  #products .product {
    width: 90%;
  }
  #watch {
    display: none;
  }
  #contactinfo {
    display: block;
    width: 90%;
  }
  #contactinfo .column {
    width: 100%;
  }
  #location {
    margin-bottom: 0.5rem;
  }
  .copyright {
    text-align: center;
  }
}